@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 255, 255, 255;
        --foreground: 29, 29, 29;

        --muted: 242, 242, 242;
        --muted-foreground: 115, 115, 115;

        --popover: 255, 255, 255;
        --popover-foreground: 29, 29, 29;

        --border: 221, 221, 221;
        --input: 221, 221, 221;

        --card: 255, 255, 255;
        --card-foreground: 29, 29, 29;

        --primary: 29, 29, 29;
        --primary-foreground: 245, 245, 245;

        --secondary: 242, 242, 242;
        --secondary-foreground: 29, 29, 29;

        --accent: 242, 242, 242;
        --accent-foreground: 29, 29, 29;

        --destructive: 255, 0, 0;
        --destructive-foreground: 245, 245, 245;

        --ring: 166, 209, 209;

        --radius: 0.5rem;
    }

    .dark {
        --background: 13, 13, 13;
        --foreground: 234, 234, 234;

        --muted: 29, 29, 29;
        --muted-foreground: 146, 146, 146;

        --accent: 41, 41, 41;
        --accent-foreground: 245, 245, 245;

        --popover: 13, 13, 13;
        --popover-foreground: 166, 209, 209;

        --border: 41, 41, 41;
        --input: 41, 41, 41;

        --card: 30, 30, 30;
        --card-foreground: 234, 234, 234;

        --primary: 245, 245, 245;
        --primary-foreground: 2, 2, 2;

        --secondary: 29, 29, 29;
        --secondary-foreground: 245, 245, 245;

        --destructive: 181, 0, 0;
        --destructive-foreground: 245, 245, 245;

        --ring: 41, 41, 41;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        /*@apply bg-background text-foreground;*/
        font-feature-settings: 'rlig' 1,
        'calt' 1;
    }
}
